.sideBarContainer {
  background: black;
  min-width: 20%;
  max-width: 20%;
  min-height: 100vh;
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageNameContainer {
  background: coral;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topLogo {
  max-width: 40%;
  max-width: 40%;
}

.userName {
  color: white;
  font-family: bentonSansReg;
  text-transform: capitalize;
  font-size: 25px;
  margin-right: 15px;
}

.linkList {
  color: white;
  font-family: bentonSansReg;
  text-transform: uppercase;
  font-size: 20px;
  background: blueviolet;
  list-style-type: none;
}

.linkListItem {
  margin-top: 50px;
}

.bottomList {
  color: white;
  font-family: bentonSansReg;
  text-transform: uppercase;
  font-size: 20px;
  background: orange;
  list-style-type: none;
}
