.cardContainer {
  font-family: bentonSansReg;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

.cardImg {
  height: 250px;
  width: 375px;
  border-radius: 15px;
}

.bottomContainer {
  display: flex;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-transform: uppercase;
  margin-left: 2px;
}

.venueName {
  font-weight: 700;
  font-size: 14px;
  color: white;
  letter-spacing: 0.55em;
}

.venueType {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  color: white;
  letter-spacing: 0.55em;
}

.reserveButton {
  height: 35px;
  width: 75px;
  background: #404040;
  border: white solid 2px;
  color: white;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.reserveButton:hover {
  cursor: pointer;
}
