.backgroundImg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../../assets/images/background-green-temp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.userReservationContainer {
  display: flex;
}

.rightSideContainer {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.demoCard {
  display: inline-grid;
  grid-row: 3;
  margin: 10vh;
  width: 200px;
  height: 150px;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
